//第一页底衬下滑后回升的动画
@keyframes dripAndBack {
	0% {
		opacity: 0;
		transform: translate(-50%,0);
	}
	50% {
		opacity: 1;
		transform: translate(-50%,10%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%,0);
	}
}
//第13页底衬下滑后动画
@keyframes drip {
	0% {
		opacity: 0;
		transform: translate(-50%,0);
	}
	100% {
		opacity: 1;
		transform: translate(-50%,10%);
	}
}
//第一页背景星星闪烁动画
@keyframes starsTwinkling {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
//第二页“日常生活”抖动动画
@keyframes fadeinAndSwing {
	from {
		opacity: 0;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
	20% {
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}
	to {
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

//第三页，小猫气泡冒出
@keyframes bubble1 {
	from {
		opacity: 0;
		transform: rotate(0deg);
	}
	25% {
		opacity: 0;
		transform: rotate(0deg);
	}
	to {
		opacity: 1;
		transform: rotate(90deg);
	}
}
@keyframes bubble2 {
	from {
		opacity: 0;
		transform: rotate(0deg);
	}
	50% {
		opacity: 0;
		transform: rotate(0deg);
	}
	to {
		opacity: 1;
		transform: rotate(90deg);
	}
}
@keyframes bubble3 {
	from {
		opacity: 0;
		transform: rotate(0deg);
	}
	75% {
		opacity: 0;
		transform: rotate(0deg);
	}
	to {
		opacity: 1;
		transform: rotate(90deg);
	}
}
//箭头向上动画
@keyframes arrowUp {
	from {
		opacity: 0;
		transform: translate(-50%, 50%);
	}
//	25% {
//		opacity: 0;
//		transform: rotate(0deg);
//	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
//箭头向下动画
@keyframes arrowDown {
	from {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes myPulse {
	from {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes vapor1 {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}
@keyframes vapor2 {
	from {
		opacity: 0;
		transform: translateY(50%);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-50%);
	}
}

@keyframes arrowToRight{
	from{
		opacity: 0;
		transform: translateX(-50%);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes snowman_arrow{
	from{
		opacity: 0;
		transform: translateX(-100%);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeAndTada {
  from {
  	opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
  	opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

