.active #section1{
	.above_cloud{
		right: 0;
//		transition-delay: 0.5s;
	}
	.header{
		opacity: 1;
	    -webkit-transform: scale(1, 1) translateX(-50%);
	    transform: scale(1, 1) translateX(-50%);
	    transition-delay: 0.5s;
	}
	.header_bg{
		opacity: 1;
	    transition-delay: 1s;
	}
	.bubble1{
		animation: dripAndBack 3s ease 2.5s forwards;
	}
	.bubble2{
		animation: dripAndBack 3s ease 1.5s forwards;
	}
	.starts{
		animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		animation: starsTwinkling 3s linear 1s infinite;
	}
}

.active #section2{
	.above_cloud{
		right: 0;
//		transition-delay: 1s;
	}
	.text1{
		opacity: 1;
	}
	.text2{
		opacity: 1;
		transition-delay: 1s;
	}
	.text3{
		.word1{
			opacity: 1;
			transition-delay: 1.5s;
		}
		.word2{
			opacity: 1;
			transition-delay: 2s;
		}
		.word3{
			opacity: 1;
			transition-delay: 2.5s;
		}
		.word4{
			opacity: 0;
			animation: fadeinAndSwing 1s linear 3s forwards;
		}
	}
	
	.starts{
		animation: starsTwinkling 4s linear 1s infinite;
	}
	.starts0{
		animation: starsTwinkling 4s linear 2s infinite;
	}
}

.active #section3 {
	.text1{
		opacity: 1;
		animation: bounceInRight 1s ease 0.5s backwards;
	}
	.cloud1{
		left: -100%;
		transition-delay: 2s;
	}
	.cloud2{
		left: -100%;
		transition-delay: 1s;
	}
	.cloud3{
		left: -100%;
		transition-delay: 0.5s;
	}
	.cloud4{
		left: -100%;
		transition-delay: 1.5s;
	}
	.bubble_small{
		opacity: 0;
		animation: bubble1 3.5s linear 0s infinite;
	}
	.bubble_middle{
		opacity: 0;
		animation: bubble2 3.5s linear 0s infinite ;
	}
	.bubble_big{
		opacity: 0;
		animation: bubble3 3.5s linear 0s infinite ;
	}
}

//下雨天4-7页云彩和小猫气泡动画
.active #section4,.active #section5,.active #section6,.active #section7{
	.above_cloud{
		right: 0;
	}
	.bubble_small{
		opacity: 0;
		animation: bubble1 3.5s linear 0s infinite;
	}
	.bubble_middle{
		opacity: 0;
		animation: bubble2 3.5s linear 0s infinite ;
	}
	.bubble_big{
		opacity: 0;
		animation: bubble3 3.5s linear 0s infinite ;
	}
}
.active #section4{
	.words1{
//		opacity: 0;
		animation: bounceInLeft 1s 0s;
	}
	.words2{
		opacity: 0;
		animation: fadeInLeft 1s 2s forwards;
	}
	.words3{
		opacity: 0;
		animation: rollIn 1s 3s forwards;
	}
}

//下雨天5-7标题和子标题动画
.active #section5,.active #section6,.active #section7{
	.title{
		opacity: 0;
		animation: fadeInLeft 1s 0s forwards;
	}
	.sub_title{
		opacity: 0;
		animation: fadeIn 0.5s 1s forwards;
	}
}
.active #section5{
	.vapour_arrow{
		opacity: 0;
		animation: arrowUp 1s 1.5s forwards;
	}
	.vapour_words{
		opacity: 0;
		animation: fadeIn 1s 1.5s forwards;
	}
	.pressure_arrow{
		opacity: 0;
		animation: arrowDown 1s 2.5s forwards;
	}
	.pressure_words{
		opacity: 0;
		animation: fadeIn 1s 2.5s forwards;
	}
	.oxygen_arrow{
		opacity: 0;
		animation: arrowDown 1s 3.5s forwards;
	}
	.oxygen_words{
		opacity: 0;
		animation: fadeIn 1s 3.5s forwards;
	}
	.nerve_arrow{
		opacity: 0;
		animation: arrowDown 1s 4.5s forwards;
	}
	.nerve_words{
		opacity: 0;
		animation: fadeIn 1s 4.5s forwards;
	}
	.lazy{
		opacity: 0;
		animation: myPulse 2s 5.5s forwards infinite;
	}
	.vapor1 img{
		opacity: 0;
		animation: vapor1 10s 0s linear infinite;
	}
	.vapor2 img{
		opacity: 0;
		animation: vapor2 10s 2s linear infinite;
	}
}

.active #section6{
	.darkness_arrow{
		opacity: 0;
		animation: arrowDown 1s 1.5s forwards;
	}
	.darkness_words{
		opacity: 0;
		animation: fadeIn 1s 1.5s forwards;
	}
	.cloudlayer_arrow{
		opacity: 0;
		animation: arrowUp 1s 2.5s forwards;
	}
	.cloudlayer_words{
		opacity: 0;
		animation: fadeIn 1s 2.5s forwards;
	}
	.melation_arrow{
		opacity: 0;
		animation: arrowUp 1s 3.5s forwards;
	}
	.melation2,.melation1,.annotation{
		opacity: 0;
		animation: fadeIn 1s 3.5s forwards;
	}
	.lazy{
		opacity: 0;
		animation: myPulse 2s 4.5s forwards infinite;
	}
}
.active #section7{
	.words1{
		opacity: 1;
		animation: zoomInLeft 1.5s 1.5s backwards;
	}
	.words2{
		opacity: 1;
		animation: fadeIn 1s 3.5s backwards;
	}
}

.active #section8{
	.above_cloud{
		right: 5%;
	}
	.words1{
		animation: fadeInDownBig 1s 0s backwards;
	}
	.crafts{
		animation: flipInY 1s 1.5s backwards;
	}
	.words2{
		animation: rotateInUpLeft 1s 2.5s backwards;
	}
}

.active #section9{
	.above_cloud{
		right: 0;
	}
	.words1{
		animation: fadeInLeft 1s 0s backwards;
	}
	.words2{
		animation: rollIn 1s 1s backwards;
	}
}

.active #section10{
	.above_cloud{
		right: 0;
	}
	.words1{
		animation: lightSpeedIn 1s 0.5s backwards;
	}
	.words2,.snowlayer{
		animation: fadeIn 1s 1.5s backwards;
	}
	.words3{
		animation: fadeIn 1s 3s backwards;
	}
	.voice{
		animation: fadeInLeft 1s 3s backwards;
	}
	.two_arrows{
		animation: arrowToRight 1s 3s backwards;
	}
	.snowman_arrow img{
		animation: snowman_arrow 2s 3s backwards;
	}
}
.active #section11{
	.words1{
		animation: bounceInDown 1s 0.5s backwards;
	}
	.words2{
		animation: fadeInRight 1s 2s backwards;
	}
	.words3{
		animation: fadeInLeft 1s 3.5s backwards;
	}
	.words4{
		width: 100%;
		transition-delay: 5s;
	}
}
.active #section12{
	.above_cloud{
		right: 0;
	}
	.starts{
		animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		animation: starsTwinkling 3s linear 1s infinite;
	}
	.words1{
		animation: rubberBand 1s 0s;
	}
	.words2{
		animation: fadeIn 1.5s 1s backwards;
	}
}

.active #section13{
	.above_cloud{
		right: 0;
	}
	.header{
		opacity: 1;
	    -webkit-transform: scale(1, 1) translateX(-50%);
	    transform: scale(1, 1) translateX(-50%);
	    transition-delay: 0.5s;
	}
	.header_bg{
		opacity: 1;
	    transition-delay: 1s;
	}
	.bubble1{
		animation: drip 3s ease 1.5s forwards;
	}
	.bubble2{
		animation: drip 3s ease 1.5s forwards;
	}
	.bubble3{
		animation: drip 3s ease 1s forwards;
	}
	.bubble4{
		animation: drip 3s ease 1.5s forwards;
	}
	.bubble5{
		animation: drip 3s ease 1s forwards;
	}
	.starts{
		animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		animation: starsTwinkling 3s linear 1s infinite;
	}
}