.active #section1{
	.above_cloud{
		right: 0;
	}
	.header{
		opacity: 1;
	    -webkit-transform: scale(1, 1) translateX(-50%);
	    transform: scale(1, 1) translateX(-50%);
	    -webkit-transition-delay: 0.5s;
	            transition-delay: 0.5s;
	}
	.header_bg{
		opacity: 1;
	    -webkit-transition-delay: 1s;
	            transition-delay: 1s;
	}
	.bubble1{
		-webkit-animation: dripAndBack 3s ease 2.5s forwards;
		        animation: dripAndBack 3s ease 2.5s forwards;
	}
	.bubble2{
		-webkit-animation: dripAndBack 3s ease 1.5s forwards;
		        animation: dripAndBack 3s ease 1.5s forwards;
	}
	.starts{
		-webkit-animation: starsTwinkling 3s linear 0.5s infinite;
		        animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		-webkit-animation: starsTwinkling 3s linear 1s infinite;
		        animation: starsTwinkling 3s linear 1s infinite;
	}
}

.active #section2{
	.above_cloud{
		right: 0;
	}
	.text1{
		opacity: 1;
	}
	.text2{
		opacity: 1;
		-webkit-transition-delay: 1s;
		        transition-delay: 1s;
	}
	.text3{
		.word1{
			opacity: 1;
			-webkit-transition-delay: 2s;
			        transition-delay: 2s;
		}
		.word2{
			opacity: 1;
			-webkit-transition-delay: 3s;
			        transition-delay: 3s;
		}
		.word3{
			opacity: 1;
			-webkit-transition-delay: 4s;
			        transition-delay: 4s;
		}
		.word4{
			opacity: 0;
			-webkit-animation: fadeIn 1s linear 4s forwards;
			        animation: fadeIn 1s linear 4s forwards;
		}
	}
	
	.starts{
		-webkit-animation: starsTwinkling 4s linear 1s infinite;
		        animation: starsTwinkling 4s linear 1s infinite;
	}
	.starts0{
		-webkit-animation: starsTwinkling 4s linear 2s infinite;
		        animation: starsTwinkling 4s linear 2s infinite;
	}
}

.active #section3 {
	.text1{
		opacity: 1;
		-webkit-animation: fadeIn 1s ease 0.5s backwards;
		        animation: fadeIn 1s ease 0.5s backwards;
	}
	.text2{
		opacity: 1;
		-webkit-animation: fadeInRight 1s ease 2.5s backwards;
		        animation: fadeInRight 1s ease 2.5s backwards;
	}
	.cloud1{
		left: -100%;
		-webkit-transition-delay: 0.5s;
		        transition-delay: 0.5s;
	}
	.cloud2{
		left: -100%;
		-webkit-transition-delay: 1s;
		        transition-delay: 1s;
	}
	.cloud3{
		left: -100%;
		-webkit-transition-delay: 0.5s;
		        transition-delay: 0.5s;
	}
	.cloud4{
		left: -100%;
		-webkit-transition-delay: 1.5s;
		        transition-delay: 1.5s;
	}
	.bubble_small{
		opacity: 0;
		-webkit-animation: bubble1 3.5s linear 0s infinite;
		        animation: bubble1 3.5s linear 0s infinite;
	}
	.bubble_middle{
		opacity: 0;
		-webkit-animation: bubble2 3.5s linear 0s infinite ;
		        animation: bubble2 3.5s linear 0s infinite ;
	}
	.bubble_big{
		opacity: 0;
		-webkit-animation: bubble3 3.5s linear 0s infinite ;
		        animation: bubble3 3.5s linear 0s infinite ;
	}
}

//下雨天4-7页云彩和小猫气泡动画
.active #section4,.active #section5,.active #section6,.active #section7{
	.above_cloud{
		right: 0;
	}
	.bubble_small{
		opacity: 0;
		-webkit-animation: bubble1 3.5s linear 0s infinite;
		        animation: bubble1 3.5s linear 0s infinite;
	}
	.bubble_middle{
		opacity: 0;
		-webkit-animation: bubble2 3.5s linear 0s infinite ;
		        animation: bubble2 3.5s linear 0s infinite ;
	}
	.bubble_big{
		opacity: 0;
		-webkit-animation: bubble3 3.5s linear 0s infinite ;
		        animation: bubble3 3.5s linear 0s infinite ;
	}
}
.active #section4{
	.words1{
		-webkit-animation: bounceInLeft 1s 0s;
		        animation: bounceInLeft 1s 0s;
	}
	.words2{
		opacity: 0;
		-webkit-animation: fadeInLeft 1s 2s forwards;
		        animation: fadeInLeft 1s 2s forwards;
	}
	.words3{
		opacity: 0;
		-webkit-animation: bounceIn 1s 3s forwards;
		        animation: bounceIn 1s 3s forwards;
	}
}

//下雨天5-7标题和子标题动画
.active #section5,.active #section6,.active #section7{
	.title{
		opacity: 0;
		-webkit-animation: fadeInLeft 1s 0s forwards;
		        animation: fadeInLeft 1s 0s forwards;
	}
	.sub_title{
		opacity: 0;
		-webkit-animation: fadeIn 0.5s 1s forwards;
		        animation: fadeIn 0.5s 1s forwards;
	}
}
.active #section5{
	.vapour_arrow{
		opacity: 0;
		-webkit-animation: arrowUp 1s 1.5s forwards;
		        animation: arrowUp 1s 1.5s forwards;
	}
	.vapour_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 1.5s forwards;
		        animation: fadeIn 1s 1.5s forwards;
	}
	.pressure_arrow{
		opacity: 0;
		-webkit-animation: arrowDown 1s 2.5s forwards;
		        animation: arrowDown 1s 2.5s forwards;
	}
	.pressure_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 2.5s forwards;
		        animation: fadeIn 1s 2.5s forwards;
	}
	.oxygen_arrow{
		opacity: 0;
		-webkit-animation: arrowDown 1s 3.5s forwards;
		        animation: arrowDown 1s 3.5s forwards;
	}
	.oxygen_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 3.5s forwards;
		        animation: fadeIn 1s 3.5s forwards;
	}
	.nerve_arrow{
		opacity: 0;
		-webkit-animation: arrowDown 1s 4.5s forwards;
		        animation: arrowDown 1s 4.5s forwards;
	}
	.nerve_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 4.5s forwards;
		        animation: fadeIn 1s 4.5s forwards;
	}
	.lazy{
		opacity: 0;
		-webkit-animation: myPulse 2s 5.5s forwards infinite;
		        animation: myPulse 2s 5.5s forwards infinite;
	}
	.vapor1 img{
		opacity: 0;
		-webkit-animation: vapor1 10s 0s linear infinite;
		        animation: vapor1 10s 0s linear infinite;
	}
	.vapor2 img{
		opacity: 0;
		-webkit-animation: vapor2 10s 2s linear infinite;
		        animation: vapor2 10s 2s linear infinite;
	}
}

.active #section6{
	.darkness_arrow{
		opacity: 0;
		-webkit-animation: arrowDown 1s 1.5s forwards;
		        animation: arrowDown 1s 1.5s forwards;
	}
	.darkness_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 1.5s forwards;
		        animation: fadeIn 1s 1.5s forwards;
	}
	.cloudlayer_arrow{
		opacity: 0;
		-webkit-animation: arrowUp 1s 2.5s forwards;
		        animation: arrowUp 1s 2.5s forwards;
	}
	.cloudlayer_words{
		opacity: 0;
		-webkit-animation: fadeIn 1s 2.5s forwards;
		        animation: fadeIn 1s 2.5s forwards;
	}
	.melation_arrow{
		opacity: 0;
		-webkit-animation: arrowUp 1s 3.5s forwards;
		        animation: arrowUp 1s 3.5s forwards;
	}
	.melation2,.melation1,.annotation{
		opacity: 0;
		-webkit-animation: fadeIn 1s 3.5s forwards;
		        animation: fadeIn 1s 3.5s forwards;
	}
	.lazy{
		opacity: 0;
		-webkit-animation: myPulse 2s 4.5s forwards infinite;
		        animation: myPulse 2s 4.5s forwards infinite;
	}
}
.active #section7{
	.words1{
		opacity: 1;
		-webkit-animation: fadeInLeftBig 1s 1.5s backwards;
		        animation: fadeInLeftBig 1s 1.5s backwards;
	}
	.words2{
		opacity: 1;
		-webkit-animation: fadeIn 1s 3.5s backwards;
		        animation: fadeIn 1s 3.5s backwards;
	}
}

.active #section8{
	.above_cloud{
		right: 5%;
	}
	.words1{
		-webkit-animation: fadeInDownBig 1s 0s backwards;
		        animation: fadeInDownBig 1s 0s backwards;
	}
	.crafts{
		opacity: 0;
		-webkit-animation: rotateIn 1s 1.5s forwards;
		        animation: rotateIn 1s 1.5s forwards;
	}
	.words2{
		-webkit-animation: rotateInUpLeft 1s 3s backwards;
		        animation: rotateInUpLeft 1s 3s backwards;
	}
}

.active #section9{
	.above_cloud{
		right: 0;
	}
	.words1{
		-webkit-animation: fadeInLeft 1s 0s backwards;
		        animation: fadeInLeft 1s 0s backwards;
	}
	.words2{
		width: 100%;
		-webkit-transition-delay: 1.5s;
		        transition-delay: 1.5s;
	}
}

.active #section10{
	.above_cloud{
		right: 0;
	}
	.words1{
		-webkit-animation: lightSpeedIn 1s 0.5s backwards;
		        animation: lightSpeedIn 1s 0.5s backwards;
	}
	.words2,.snowlayer{
		-webkit-animation: fadeIn 1s 1.5s backwards;
		        animation: fadeIn 1s 1.5s backwards;
	}
	.words3{
		-webkit-animation: fadeIn 1s 3s backwards;
		        animation: fadeIn 1s 3s backwards;
	}
	.voice{
		-webkit-animation: fadeInLeft 1s 3s backwards;
		        animation: fadeInLeft 1s 3s backwards;
	}
	.two_arrows{
		-webkit-animation: arrowToRight 1s 3s backwards;
		        animation: arrowToRight 1s 3s backwards;
	}
	.snowman_arrow{
		-webkit-animation: fadeIn 2s 3s backwards;
		        animation: fadeIn 2s 3s backwards;
	}
	.arrow1 img{
		-webkit-animation: arrowToRight 0.5s 3.5s backwards;
		        animation: arrowToRight 0.5s 3.5s backwards;
	}
	.arrow2 img{
		-webkit-animation: arrowToRight 0.5s 4s backwards;
		        animation: arrowToRight 0.5s 4s backwards;
	}
	.arrow3 img{
		-webkit-animation: arrowToRight 0.5s 4.5s backwards;
		        animation: arrowToRight 0.5s 4.5s backwards;
	}
}
.active #section11{
	.words1{
		-webkit-animation: bounceInDown 1s 0.5s backwards;
		        animation: bounceInDown 1s 0.5s backwards;
	}
	.words2{
		-webkit-animation: fadeInRight 1s 2s backwards;
		        animation: fadeInRight 1s 2s backwards;
	}
	.words3{
		-webkit-animation: fadeInLeft 1s 3.5s backwards;
		        animation: fadeInLeft 1s 3.5s backwards;
	}
	.words4{
		width: 100%;
		-webkit-transition-delay: 5s;
		        transition-delay: 5s;
	}
	.white_cloud{
		left: -25%;
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
	}
}
.active #section12{
	.above_cloud{
		right: 0;
	}
	.starts{
		-webkit-animation: starsTwinkling 3s linear 0.5s infinite;
		        animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		-webkit-animation: starsTwinkling 3s linear 1s infinite;
		        animation: starsTwinkling 3s linear 1s infinite;
	}
	.words1{
		-webkit-animation: rubberBand 1s 0s;
		        animation: rubberBand 1s 0s;
	}
	.words2{
		-webkit-animation: fadeIn 1.5s 1s backwards;
		        animation: fadeIn 1.5s 1s backwards;
	}
}

.active #section13{
	.above_cloud{
		right: 0;
	}
	.header{
		opacity: 1;
	    -webkit-transform: scale(1, 1) translateX(-50%);
	    transform: scale(1, 1) translateX(-50%);
	    -webkit-transition-delay: 0.5s;
	            transition-delay: 0.5s;
	}
	.header_bg{
		opacity: 1;
	    -webkit-transition-delay: 1s;
	            transition-delay: 1s;
	}
	.bubble1{
		-webkit-animation: dripAndBack 3s ease 1.5s forwards;
		        animation: dripAndBack 3s ease 1.5s forwards;
	}
	.bubble2{
		-webkit-animation: dripAndBack 3s ease 2.5s forwards;
		        animation: dripAndBack 3s ease 2.5s forwards;
	}
	
	.starts{
		-webkit-animation: starsTwinkling 3s linear 0.5s infinite;
		        animation: starsTwinkling 3s linear 0.5s infinite;
	}
	.starts0{
		-webkit-animation: starsTwinkling 3s linear 1s infinite;
		        animation: starsTwinkling 3s linear 1s infinite;
	}
}
//下雨页面，单个雨滴动画
.active .raindrops{
	-webkit-animation: raindrops 5s ease-in 0s infinite;
	        animation: raindrops 5s ease-in 0s infinite;
}
//涟漪页面，单个涟漪动画
.active .ripple{
	-webkit-animation: ripple 5s linear 0s infinite;
	        animation: ripple 5s linear 0s infinite;
}

//向上箭头，上下浮动动画
.active .more_arrow_left, .active .more_arrow_right{
	opacity: 1;
	-webkit-transition-delay: 5s;
	        transition-delay: 5s;
	-webkit-animation: float 4s linear 5s infinite;
	        animation: float 4s linear 5s infinite;
}