.active #section1 .above_cloud {
  right: 0;
}
.active #section1 .header {
  opacity: 1;
  -webkit-transform: scale(1, 1) translateX(-50%);
  transform: scale(1, 1) translateX(-50%);
  transition-delay: 0.5s;
}
.active #section1 .header_bg {
  opacity: 1;
  transition-delay: 1s;
}
.active #section1 .bubble1 {
  animation: dripAndBack 3s ease 2.5s forwards;
}
.active #section1 .bubble2 {
  animation: dripAndBack 3s ease 1.5s forwards;
}
.active #section1 .starts {
  animation: starsTwinkling 3s linear 0.5s infinite;
}
.active #section1 .starts0 {
  animation: starsTwinkling 3s linear 1s infinite;
}
.active #section2 .above_cloud {
  right: 0;
}
.active #section2 .text1 {
  opacity: 1;
}
.active #section2 .text2 {
  opacity: 1;
  transition-delay: 1s;
}
.active #section2 .text3 .word1 {
  opacity: 1;
  transition-delay: 1.5s;
}
.active #section2 .text3 .word2 {
  opacity: 1;
  transition-delay: 2s;
}
.active #section2 .text3 .word3 {
  opacity: 1;
  transition-delay: 2.5s;
}
.active #section2 .text3 .word4 {
  opacity: 0;
  animation: fadeinAndSwing 1s linear 3s forwards;
}
.active #section2 .starts {
  animation: starsTwinkling 4s linear 1s infinite;
}
.active #section2 .starts0 {
  animation: starsTwinkling 4s linear 2s infinite;
}
.active #section3 .text1 {
  opacity: 1;
  animation: bounceInRight 1s ease 0.5s backwards;
}
.active #section3 .cloud1 {
  left: -100%;
  transition-delay: 2s;
}
.active #section3 .cloud2 {
  left: -100%;
  transition-delay: 1s;
}
.active #section3 .cloud3 {
  left: -100%;
  transition-delay: 0.5s;
}
.active #section3 .cloud4 {
  left: -100%;
  transition-delay: 1.5s;
}
.active #section3 .bubble_small {
  opacity: 0;
  animation: bubble1 3.5s linear 0s infinite;
}
.active #section3 .bubble_middle {
  opacity: 0;
  animation: bubble2 3.5s linear 0s infinite;
}
.active #section3 .bubble_big {
  opacity: 0;
  animation: bubble3 3.5s linear 0s infinite;
}
.active #section4 .above_cloud,
.active #section5 .above_cloud,
.active #section6 .above_cloud,
.active #section7 .above_cloud {
  right: 0;
}
.active #section4 .bubble_small,
.active #section5 .bubble_small,
.active #section6 .bubble_small,
.active #section7 .bubble_small {
  opacity: 0;
  animation: bubble1 3.5s linear 0s infinite;
}
.active #section4 .bubble_middle,
.active #section5 .bubble_middle,
.active #section6 .bubble_middle,
.active #section7 .bubble_middle {
  opacity: 0;
  animation: bubble2 3.5s linear 0s infinite;
}
.active #section4 .bubble_big,
.active #section5 .bubble_big,
.active #section6 .bubble_big,
.active #section7 .bubble_big {
  opacity: 0;
  animation: bubble3 3.5s linear 0s infinite;
}
.active #section4 .words1 {
  animation: bounceInLeft 1s 0s;
}
.active #section4 .words2 {
  opacity: 0;
  animation: fadeInLeft 1s 2s forwards;
}
.active #section4 .words3 {
  opacity: 0;
  animation: rollIn 1s 3s forwards;
}
.active #section5 .title,
.active #section6 .title,
.active #section7 .title {
  opacity: 0;
  animation: fadeInLeft 1s 0s forwards;
}
.active #section5 .sub_title,
.active #section6 .sub_title,
.active #section7 .sub_title {
  opacity: 0;
  animation: fadeIn 0.5s 1s forwards;
}
.active #section5 .vapour_arrow {
  opacity: 0;
  animation: arrowUp 1s 1.5s forwards;
}
.active #section5 .vapour_words {
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;
}
.active #section5 .pressure_arrow {
  opacity: 0;
  animation: arrowDown 1s 2.5s forwards;
}
.active #section5 .pressure_words {
  opacity: 0;
  animation: fadeIn 1s 2.5s forwards;
}
.active #section5 .oxygen_arrow {
  opacity: 0;
  animation: arrowDown 1s 3.5s forwards;
}
.active #section5 .oxygen_words {
  opacity: 0;
  animation: fadeIn 1s 3.5s forwards;
}
.active #section5 .nerve_arrow {
  opacity: 0;
  animation: arrowDown 1s 4.5s forwards;
}
.active #section5 .nerve_words {
  opacity: 0;
  animation: fadeIn 1s 4.5s forwards;
}
.active #section5 .lazy {
  opacity: 0;
  animation: myPulse 2s 5.5s forwards infinite;
}
.active #section5 .vapor1 img {
  opacity: 0;
  animation: vapor1 10s 0s linear infinite;
}
.active #section5 .vapor2 img {
  opacity: 0;
  animation: vapor2 10s 2s linear infinite;
}
.active #section6 .darkness_arrow {
  opacity: 0;
  animation: arrowDown 1s 1.5s forwards;
}
.active #section6 .darkness_words {
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;
}
.active #section6 .cloudlayer_arrow {
  opacity: 0;
  animation: arrowUp 1s 2.5s forwards;
}
.active #section6 .cloudlayer_words {
  opacity: 0;
  animation: fadeIn 1s 2.5s forwards;
}
.active #section6 .melation_arrow {
  opacity: 0;
  animation: arrowUp 1s 3.5s forwards;
}
.active #section6 .melation2,
.active #section6 .melation1,
.active #section6 .annotation {
  opacity: 0;
  animation: fadeIn 1s 3.5s forwards;
}
.active #section6 .lazy {
  opacity: 0;
  animation: myPulse 2s 4.5s forwards infinite;
}
.active #section7 .words1 {
  opacity: 1;
  animation: zoomInLeft 1.5s 1.5s backwards;
}
.active #section7 .words2 {
  opacity: 1;
  animation: fadeIn 1s 3.5s backwards;
}
.active #section8 .above_cloud {
  right: 5%;
}
.active #section8 .words1 {
  animation: fadeInDownBig 1s 0s backwards;
}
.active #section8 .crafts {
  opacity: 0;
  animation: fadeAndTada 1s 1.5s forwards;
}
.active #section8 .words2 {
  animation: rotateInUpLeft 1s 3s backwards;
}
.active #section9 .above_cloud {
  right: 0;
}
.active #section9 .words1 {
  animation: fadeInLeft 1s 0s backwards;
}
.active #section9 .words2 {
  width: 100%;
  transition-delay: 1.5s;
}
.active #section10 .above_cloud {
  right: 0;
}
.active #section10 .words1 {
  animation: lightSpeedIn 1s 0.5s backwards;
}
.active #section10 .words2,
.active #section10 .snowlayer {
  animation: fadeIn 1s 1.5s backwards;
}
.active #section10 .words3 {
  animation: fadeIn 1s 3s backwards;
}
.active #section10 .voice {
  animation: fadeInLeft 1s 3s backwards;
}
.active #section10 .two_arrows {
  animation: arrowToRight 1s 3s backwards;
}
.active #section10 .snowman_arrow img {
  animation: snowman_arrow 2s 3s backwards;
}
.active #section11 .words1 {
  animation: bounceInDown 1s 0.5s backwards;
}
.active #section11 .words2 {
  animation: fadeInRight 1s 2s backwards;
}
.active #section11 .words3 {
  animation: fadeInLeft 1s 3.5s backwards;
}
.active #section11 .words4 {
  width: 100%;
  transition-delay: 5s;
}
.active #section11 .white_cloud {
  left: -25%;
  transition-delay: 0s;
}
.active #section12 .above_cloud {
  right: 0;
}
.active #section12 .starts {
  animation: starsTwinkling 3s linear 0.5s infinite;
}
.active #section12 .starts0 {
  animation: starsTwinkling 3s linear 1s infinite;
}
.active #section12 .words1 {
  animation: rubberBand 1s 0s;
}
.active #section12 .words2 {
  animation: fadeIn 1.5s 1s backwards;
}
.active #section13 .above_cloud {
  right: 0;
}
.active #section13 .header {
  opacity: 1;
  -webkit-transform: scale(1, 1) translateX(-50%);
  transform: scale(1, 1) translateX(-50%);
  transition-delay: 0.5s;
}
.active #section13 .header_bg {
  opacity: 1;
  transition-delay: 1s;
}
.active #section13 .bubble1 {
  animation: drip 3s ease 1.5s forwards;
}
.active #section13 .bubble2 {
  animation: drip 3s ease 1.5s forwards;
}
.active #section13 .bubble3 {
  animation: drip 3s ease 1s forwards;
}
.active #section13 .bubble4 {
  animation: drip 3s ease 1.5s forwards;
}
.active #section13 .bubble5 {
  animation: drip 3s ease 1s forwards;
}
.active #section13 .starts {
  animation: starsTwinkling 3s linear 0.5s infinite;
}
.active #section13 .starts0 {
  animation: starsTwinkling 3s linear 1s infinite;
}
/*# sourceMappingURL=effects.css.map */
