#section1 {
  width: 100%;
  height: 100%;
  background: url(../img/page1/Blue.png) no-repeat;
  background-size: cover;
}
#section1 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 5s ease-in-out;
}
#section1 .above_cloud img {
  height: 100%;
}
#section1 .header_bg {
  width: 100%;
  height: 30%;
  background: url(../img/page1/Below-the-words-big.png) no-repeat center;
  background-size: auto 100%;
  position: absolute;
  top: 9%;
  left: 50%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
}
#section1 .header_bg img {
  height: 100%;
}
#section1 .bubble1 {
  height: 110%;
  position: absolute;
  left: 52%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
}
#section1 .bubble2 {
  height: 60%;
  position: absolute;
  top: 12%;
  left: 53%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
}
#section1 .header {
  padding-top: 2%;
  width: 12%;
  height: 27%;
  position: absolute;
  top: 9%;
  left: 50%;
  transition: all 0.5s ease;
  transform: scale(0.5, 0.5) translateX(-50%);
  opacity: 0;
}
#section1 .header img {
  height: 25%;
  margin-left: 50%;
  transform: translateX(-50%);
}
#section1 .stars_bg {
  width: 100%;
  height: 100%;
  background: url(../img/page1/background.png) no-repeat center;
  background-size: 100% auto;
}
#section1 .stars_bg img {
  width: 100%;
}
#section1 .starts {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
#section1 .starts0 {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 46%;
  transform: translateX(-50%);
  opacity: 0;
}
#section1 .cat_star {
  width: 100%;
  height: 42%;
  position: absolute;
  top: 42%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#section1 .cat_star img {
  height: 100%;
}
#section1 .below_cloud {
  width: 100%;
  height: 27%;
  position: absolute;
  bottom: 0;
}
#section1 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section2 {
  width: 100%;
  height: 100%;
  background: url(../img/page1/Blue.png) no-repeat;
  background-size: cover;
}
#section2 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section2 .above_cloud img {
  height: 100%;
}
#section2 .stars_bg {
  width: 100%;
  height: 100%;
  background: url(../img/page2/background.png) no-repeat center;
  background-size: 100% auto;
}
#section2 .stars_bg img {
  width: 100%;
}
#section2 .starts {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
#section2 .starts0 {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 46%;
  transform: translateX(-50%);
  opacity: 0;
}
#section2 .cat_star {
  width: 100%;
  height: 42%;
  position: absolute;
  top: 42%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#section2 .cat_star img {
  height: 100%;
}
#section2 .below_cloud {
  width: 100%;
  height: 27%;
  position: absolute;
  bottom: 0;
}
#section2 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section2 .content {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  height: 9%;
  width: 80%;
}
#section2 .content p {
  height: 33%;
  margin: 5% 0;
  text-align: center;
}
#section2 .content p img {
  height: 100%;
}
#section2 .content .text1 {
  opacity: 0;
  transition: all 1s;
}
#section2 .content .text2 {
  opacity: 0;
  transition: all 1s;
}
#section2 .content .word1,
#section2 .content .word2,
#section2 .content .word3 {
  opacity: 0;
  transition: all 1s;
}
#section3 {
  width: 100%;
  height: 100%;
  background: url(../img/page3/backgrond.png) no-repeat;
  background-position: top left;
  background-size: cover;
}
#section3 .flow_clouds {
  position: absolute;
  height: 80%;
  width: 100%;
}
#section3 .flow_clouds img {
  height: 100%;
}
#section3 .cloud1 {
  height: 57%;
  position: absolute;
  top: 10%;
  left: 80%;
  transition: all 100s linear;
}
#section3 .cloud2 {
  height: 8%;
  position: absolute;
  top: 18%;
  left: 80%;
  transition: all 60s linear;
}
#section3 .cloud3 {
  height: 52%;
  position: absolute;
  top: 40%;
  left: 20%;
  transition: all 80s linear;
}
#section3 .cloud4 {
  height: 2%;
  position: absolute;
  top: 78%;
  left: 30%;
  transition: all 120s linear;
}
#section3 .text1 {
  position: absolute;
  top: 40%;
  right: 10%;
  height: 3.5%;
}
#section3 .text1 img {
  height: 100%;
}
#section3 .text2 {
  position: absolute;
  top: 45%;
  right: 10%;
  height: 3.5%;
}
#section3 .text2 img {
  height: 100%;
}
#section3 .bubbles {
  position: absolute;
  top: -2%;
  right: 35%;
  width: 12%;
  height: 14%;
}
#section3 .bubble_big {
  width: 36%;
  position: absolute;
  top: 5%;
  left: 12%;
}
#section3 .bubble_middle {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#section3 .bubble_small {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section3 .cat_star_left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45%;
}
#section3 .cat_star_left > img {
  height: 100%;
}
#section3 .below_cloud {
  width: 100%;
  height: 19%;
  position: absolute;
  bottom: 0;
}
#section3 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section4 {
  width: 100%;
  height: 100%;
  background: url(../img/page4/background.png) no-repeat;
  background-size: cover;
}
#section4 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section4 .above_cloud img {
  height: 100%;
}
#section4 .light_clouds {
  width: 100%;
  position: absolute;
  top: 0;
}
#section4 .light_clouds img {
  width: 100%;
}
#section4 .second_bg {
  width: 100%;
  height: 63%;
  position: absolute;
  bottom: 0;
  background: url(../img/page4/background2.png) no-repeat;
  background-size: 100% auto;
}
#section4 .words1 {
  height: 12%;
  position: absolute;
  left: 14%;
  top: 20%;
}
#section4 .words1 img {
  height: 100%;
}
#section4 .words2 {
  height: 3%;
  position: absolute;
  left: 9%;
  top: 42%;
}
#section4 .words2 img {
  height: 100%;
}
#section4 .words3 {
  height: 5.5%;
  position: absolute;
  left: 8%;
  bottom: 68%;
}
#section4 .words3 img {
  height: 100%;
}
#section4 .bubbles {
  position: absolute;
  top: -4%;
  right: 34%;
  width: 11%;
  height: 16%;
}
#section4 .bubble_big {
  width: 36%;
  position: absolute;
  top: 5%;
  left: 12%;
}
#section4 .bubble_middle {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#section4 .bubble_small {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section4 .below_bubbles {
  position: absolute;
  bottom: 12%;
  height: 33%;
}
#section4 .below_bubbles img {
  width: 100%;
}
#section4 .below_light_clouds {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: 20%;
  transform: translateX(-80%);
}
#section4 .below_light_clouds img {
  height: 100%;
}
#section4 .cat_star_left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
}
#section4 .cat_star_left > img {
  height: 100%;
}
#section4 .below_cloud {
  width: 100%;
  height: 19%;
  position: absolute;
  bottom: 0;
}
#section4 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section5 {
  width: 100%;
  height: 100%;
  background: url(../img/page5/background.png) no-repeat;
  background-size: cover;
}
#section5 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section5 .above_cloud img {
  height: 100%;
}
#section5 .light_clouds {
  width: 100%;
  position: absolute;
  top: 19%;
}
#section5 .light_clouds img {
  width: 100%;
}
#section5 .second_bg {
  width: 100%;
  height: 59%;
  position: absolute;
  bottom: 0;
  background: url(../img/page5/background2.png) no-repeat;
  background-size: 100% auto;
}
#section5 .bubbles {
  position: absolute;
  top: -4%;
  right: 34%;
  width: 11%;
  height: 16%;
}
#section5 .bubble_big {
  width: 36%;
  position: absolute;
  top: 5%;
  left: 12%;
}
#section5 .bubble_middle {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#section5 .bubble_small {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section5 .below_bubbles {
  position: absolute;
  bottom: 12%;
  height: 33%;
}
#section5 .below_bubbles img {
  width: 100%;
}
#section5 .below_light_clouds {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: 20%;
  transform: translateX(-80%);
}
#section5 .below_light_clouds img {
  height: 100%;
}
#section5 .cat_star_left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
}
#section5 .cat_star_left > img {
  height: 100%;
}
#section5 .below_cloud {
  width: 100%;
  height: 19%;
  position: absolute;
  bottom: 0;
}
#section5 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section5 .content {
  position: absolute;
  top: 9%;
  height: 60%;
  width: 100%;
}
#section5 .title {
  position: absolute;
  height: 6%;
  left: 10%;
}
#section5 .title img {
  height: 100%;
}
#section5 .sub_title {
  position: absolute;
  height: 6%;
  top: 10%;
  left: 10%;
}
#section5 .sub_title img {
  height: 100%;
}
#section5 .cat1 {
  height: 20%;
  position: absolute;
  right: 5%;
  top: 15%;
}
#section5 .cat1 img {
  height: 100%;
}
#section5 .vapor1 {
  position: absolute;
  top: 10%;
  left: 50%;
  height: 44%;
  transform: translateX(-62%);
}
#section5 .vapor1 img {
  height: 100%;
}
#section5 .vapor2 {
  position: absolute;
  top: -15%;
  left: 50%;
  height: 80%;
  transform: translateX(-48%);
}
#section5 .vapor2 img {
  height: 100%;
}
#section5 .vapour_words {
  position: absolute;
  height: 5%;
  top: 22%;
  left: 32%;
}
#section5 .vapour_words img {
  height: 100%;
}
#section5 .vapour_arrow {
  position: absolute;
  height: 17%;
  top: 12%;
  left: 32%;
}
#section5 .vapour_arrow img {
  height: 100%;
}
#section5 .cat2 {
  height: 18%;
  position: absolute;
  left: 15%;
  top: 31%;
}
#section5 .cat2 img {
  height: 100%;
}
#section5 .pressure_words {
  position: absolute;
  height: 5%;
  top: 39%;
  left: 32%;
}
#section5 .pressure_words img {
  height: 100%;
}
#section5 .pressure_arrow {
  position: absolute;
  height: 17%;
  top: 32%;
  left: 13%;
}
#section5 .pressure_arrow img {
  height: 100%;
}
#section5 .cat3 {
  height: 17%;
  position: absolute;
  top: 46%;
  left: 52%;
}
#section5 .cat3 img {
  height: 100%;
}
#section5 .oxygen_words {
  position: absolute;
  height: 5%;
  top: 55%;
  left: 10%;
}
#section5 .oxygen_words img {
  height: 100%;
}
#section5 .oxygen_arrow {
  position: absolute;
  height: 20%;
  top: 42%;
  left: 55%;
}
#section5 .oxygen_arrow img {
  height: 100%;
}
#section5 .nerve_words {
  position: absolute;
  height: 15%;
  top: 65%;
  left: 10%;
}
#section5 .nerve_words img {
  height: 100%;
}
#section5 .nerve_arrow {
  position: absolute;
  height: 20%;
  top: 60%;
  right: 38%;
}
#section5 .nerve_arrow img {
  height: 100%;
}
#section5 .lazy {
  position: absolute;
  height: 5%;
  bottom: 1%;
  left: 10%;
}
#section5 .lazy img {
  height: 100%;
}
#section6 {
  width: 100%;
  height: 100%;
  background: url(../img/page6/background.png) no-repeat;
  background-size: cover;
}
#section6 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section6 .above_cloud img {
  height: 100%;
}
#section6 .fog {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 33%;
}
#section6 .fog img {
  width: 100%;
  height: 100%;
}
#section6 .second_bg {
  width: 100%;
  height: 83%;
  position: absolute;
  top: 0;
}
#section6 .second_bg img {
  width: 100%;
  height: 100%;
}
#section6 .top_clouds {
  position: absolute;
  top: 13%;
  height: 18%;
  left: 7%;
}
#section6 .top_clouds img {
  height: 100%;
}
#section6 .content {
  position: absolute;
  top: 9%;
  height: 60%;
  width: 100%;
}
#section6 .title {
  position: absolute;
  height: 6%;
  left: 10%;
}
#section6 .title img {
  height: 100%;
}
#section6 .sub_title {
  position: absolute;
  height: 6%;
  top: 10%;
  left: 10%;
}
#section6 .sub_title img {
  height: 100%;
}
#section6 .darkness_words {
  position: absolute;
  height: 5%;
  top: 15%;
  right: 30%;
}
#section6 .darkness_words img {
  height: 100%;
}
#section6 .darkness_arrow {
  position: absolute;
  height: 17%;
  top: 2%;
  right: 22%;
}
#section6 .darkness_arrow img {
  height: 100%;
}
#section6 .cloudlayer_words {
  position: absolute;
  height: 5%;
  top: 26%;
  left: 16%;
}
#section6 .cloudlayer_words img {
  height: 100%;
}
#section6 .cloudlayer_arrow {
  position: absolute;
  height: 15%;
  top: 25%;
  left: 18%;
}
#section6 .cloudlayer_arrow img {
  height: 100%;
}
#section6 .melation1 {
  position: absolute;
  left: 8%;
  top: 40%;
  height: 25%;
}
#section6 .melation1 img {
  height: 100%;
}
#section6 .melation2 {
  position: absolute;
  left: 48%;
  top: 54%;
  height: 5%;
}
#section6 .melation2 img {
  height: 100%;
}
#section6 .melation_arrow {
  position: absolute;
  left: 29%;
  top: 52%;
  height: 17%;
}
#section6 .melation_arrow img {
  height: 100%;
}
#section6 .annotation {
  position: absolute;
  left: 5%;
  top: 66%;
  height: 12%;
}
#section6 .annotation img {
  height: 100%;
}
#section6 .elements {
  position: absolute;
  left: 7%;
  top: 43%;
  height: 41%;
}
#section6 .elements img {
  height: 100%;
}
#section6 .lazy {
  position: absolute;
  height: 5%;
  bottom: 6%;
  left: 10%;
}
#section6 .lazy img {
  height: 100%;
}
#section6 .bubbles {
  position: absolute;
  top: -4%;
  right: 34%;
  width: 11%;
  height: 16%;
}
#section6 .bubble_big {
  width: 36%;
  position: absolute;
  top: 5%;
  left: 12%;
}
#section6 .bubble_middle {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#section6 .bubble_small {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section6 .below_bubbles {
  position: absolute;
  bottom: 12%;
  height: 33%;
}
#section6 .below_bubbles img {
  width: 100%;
}
#section6 .below_light_clouds {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: 20%;
  transform: translateX(-80%);
}
#section6 .below_light_clouds img {
  height: 100%;
}
#section6 .cat_star_left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
}
#section6 .cat_star_left > img {
  height: 100%;
}
#section6 .below_cloud {
  width: 100%;
  height: 19%;
  position: absolute;
  bottom: 0;
}
#section6 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section7 {
  width: 100%;
  height: 100%;
  background: url(../img/page7/background.png) no-repeat;
  background-size: cover;
}
#section7 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section7 .above_cloud img {
  height: 100%;
}
#section7 .content {
  position: absolute;
  top: 9%;
  height: 60%;
  width: 100%;
}
#section7 .title {
  position: absolute;
  height: 6%;
  left: 10%;
}
#section7 .title img {
  height: 100%;
}
#section7 .sub_title {
  position: absolute;
  height: 6%;
  top: 10%;
  left: 10%;
}
#section7 .sub_title img {
  height: 100%;
}
#section7 .words1 {
  position: absolute;
  height: 12%;
  top: 20%;
  left: 10%;
}
#section7 .words1 img {
  height: 100%;
}
#section7 .words2 {
  position: absolute;
  height: 8%;
  top: 36%;
  left: 10%;
}
#section7 .words2 img {
  height: 100%;
}
#section7 .cloud_line {
  position: absolute;
  top: 47%;
  width: 100%;
  height: 31%;
}
#section7 .cloud_line img {
  width: 100%;
  height: 100%;
}
#section7 .bubbles {
  position: absolute;
  top: -4%;
  right: 34%;
  width: 11%;
  height: 16%;
}
#section7 .bubble_big {
  width: 36%;
  position: absolute;
  top: 5%;
  left: 12%;
}
#section7 .bubble_middle {
  width: 28%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#section7 .bubble_small {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#section7 .below_bubbles {
  position: absolute;
  bottom: 12%;
  height: 33%;
}
#section7 .below_bubbles img {
  width: 100%;
}
#section7 .below_light_clouds {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: 20%;
  transform: translateX(-80%);
}
#section7 .below_light_clouds img {
  height: 100%;
}
#section7 .cat_star_left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
}
#section7 .cat_star_left > img {
  height: 100%;
}
#section7 .below_cloud {
  width: 100%;
  height: 19%;
  position: absolute;
  bottom: 0;
}
#section7 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section8 {
  width: 100%;
  height: 100%;
  background: url(../img/page8/background.png) no-repeat;
  background-size: cover;
}
#section8 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section8 .above_cloud img {
  height: 100%;
}
#section8 .words1 {
  height: 3.5%;
  position: absolute;
  top: 15%;
  left: 10%;
}
#section8 .words1 img {
  height: 100%;
}
#section8 .crafts {
  height: 4%;
  position: absolute;
  top: 22%;
  left: 10%;
}
#section8 .crafts img {
  height: 100%;
}
#section8 .words2 {
  height: 17%;
  position: absolute;
  top: 30%;
  left: 10%;
}
#section8 .words2 img {
  height: 100%;
}
#section8 .below_trees {
  width: 100%;
  height: 37%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#section8 .below_trees img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 130%;
}
#section8 .below_mid_cat {
  height: 32%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#section8 .below_mid_cat img {
  height: 100%;
}
#section8 .below_cloud {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}
#section8 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section9 {
  width: 100%;
  height: 100%;
  background: url(../img/page9/background.png) no-repeat;
  background-size: cover;
}
#section9 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section9 .above_cloud img {
  height: 100%;
}
#section9 .words1 {
  height: 3.5%;
  position: absolute;
  top: 33%;
  left: 18%;
}
#section9 .words1 img {
  height: 100%;
}
#section9 .words2 {
  width: 0;
  height: 3.5%;
  position: absolute;
  top: 40%;
  left: 18%;
  transition: all 1.5s linear;
  overflow: hidden;
}
#section9 .words2 img {
  height: 100%;
}
#section9 .bg_trees {
  height: 43%;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translateX(-50%);
}
#section9 .bg_trees img {
  height: 100%;
}
#section9 .below_trees {
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#section9 .below_trees img {
  width: 135%;
  margin-left: 50%;
  transform: translateX(-50%);
}
#section9 .below_mid_cat {
  height: 43%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#section9 .below_mid_cat img {
  height: 100%;
}
#section9 .below_cloud {
  width: 100%;
  height: 26%;
  position: absolute;
  bottom: 0;
}
#section9 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section10 {
  width: 100%;
  height: 100%;
  background: url(../img/page10/backgroung.png) no-repeat;
  background-size: cover;
}
#section10 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 4s ease-in-out;
}
#section10 .above_cloud img {
  height: 100%;
}
#section10 .cottage {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 0;
}
#section10 .cottage img {
  width: 100%;
  height: 100%;
}
#section10 .bg_trees {
  height: 37%;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translateX(-50%);
}
#section10 .bg_trees img {
  height: 100%;
}
#section10 .below_trees {
  width: 100%;
  height: 37%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#section10 .below_trees img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 130%;
  opacity: 0.6;
}
#section10 .below_mid_cat {
  height: 32%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#section10 .below_mid_cat img {
  height: 100%;
}
#section10 .below_cloud {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}
#section10 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section10 .words1 {
  height: 3%;
  position: absolute;
  top: 12%;
  left: 10%;
}
#section10 .words1 img {
  height: 100%;
}
#section10 .words2 {
  height: 7%;
  position: absolute;
  top: 41%;
  left: 7%;
}
#section10 .words2 img {
  height: 100%;
}
#section10 .words3 {
  height: 16%;
  position: absolute;
  top: 52%;
  left: 7%;
}
#section10 .words3 img {
  height: 100%;
}
#section10 .snowman {
  position: absolute;
  height: 25%;
  top: 44%;
  right: 5%;
}
#section10 .snowman img {
  height: 100%;
}
#section10 .snowlayer {
  height: 25%;
  position: absolute;
  top: 3%;
  transform: translateX(-100%);
}
#section10 .snowlayer img {
  height: 100%;
}
#section10 .voice {
  height: 13%;
  position: absolute;
  top: 65%;
  left: 14%;
}
#section10 .voice img {
  height: 100%;
}
#section10 .two_arrows {
  height: 90%;
  position: absolute;
  top: 25%;
  left: 8%;
}
#section10 .two_arrows img {
  height: 100%;
}
#section10 .snowman_arrow {
  height: 40%;
  position: absolute;
  top: 66%;
  left: 50%;
  overflow: hidden;
}
#section10 .snowman_arrow img {
  height: 100%;
}
#section10 .three_arrows {
  height: 10%;
  position: absolute;
  top: 66%;
  left: 50%;
  width: 20%;
}
#section10 .arrow1 {
  height: 23%;
  position: absolute;
  top: 59%;
  left: 49%;
  overflow: hidden;
}
#section10 .arrow2 {
  height: 20%;
  position: absolute;
  top: 59%;
  left: 63%;
  overflow: hidden;
}
#section10 .arrow3 {
  height: 15%;
  position: absolute;
  top: 59%;
  left: 76%;
  overflow: hidden;
}
#section11 {
  width: 100%;
  height: 100%;
  background: url(../img/page11/background.png) no-repeat;
  background-size: cover;
}
#section11 .below_trees {
  width: 100%;
  height: 37%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#section11 .below_trees img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 130%;
  opacity: 0.6;
}
#section11 .below_mid_cat {
  height: 32%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#section11 .below_mid_cat img {
  height: 100%;
}
#section11 .below_cloud {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}
#section11 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section11 .words1 {
  height: 3%;
  position: absolute;
  top: 4%;
  left: 6%;
}
#section11 .words1 img {
  height: 100%;
}
#section11 .words2 {
  height: 10%;
  position: absolute;
  top: 18%;
  right: 2%;
}
#section11 .words2 img {
  height: 100%;
}
#section11 .words3 {
  height: 7%;
  position: absolute;
  top: 52%;
  left: 7%;
}
#section11 .words3 img {
  height: 100%;
}
#section11 .words4 {
  height: 3%;
  position: absolute;
  top: 61%;
  left: 7%;
  width: 0;
  transition: all 2s linear;
  overflow: hidden;
}
#section11 .words4 img {
  height: 100%;
}
#section11 .white_cloud {
  height: 12%;
  position: absolute;
  top: 62%;
  left: 25%;
  transition: all 30s;
}
#section11 .white_cloud img {
  height: 100%;
}
#section12 {
  width: 100%;
  height: 100%;
  background: url(../img/page1/Blue.png) no-repeat;
  background-size: cover;
}
#section12 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 5s ease-in-out;
}
#section12 .above_cloud img {
  height: 100%;
}
#section12 .words1 {
  width: 100%;
  height: 3.5%;
  position: absolute;
  top: 17%;
  left: 0;
  text-align: center;
}
#section12 .words1 img {
  height: 100%;
}
#section12 .words2 {
  width: 100%;
  height: 12%;
  position: absolute;
  top: 22%;
  left: 0;
  text-align: center;
}
#section12 .words2 img {
  height: 100%;
}
#section12 .stars_bg {
  width: 100%;
  height: 100%;
  background: url(../img/page2/background.png) no-repeat center;
  background-size: 100% auto;
}
#section12 .stars_bg img {
  width: 100%;
}
#section12 .starts {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
#section12 .starts0 {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 46%;
  transform: translateX(-50%);
  opacity: 0;
}
#section12 .cat_star {
  width: 100%;
  height: 42%;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#section12 .cat_star img {
  height: 100%;
}
#section12 .below_cloud {
  width: 100%;
  height: 27%;
  position: absolute;
  bottom: 0;
}
#section12 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section13 {
  width: 100%;
  height: 100%;
  background: url(../img/page1/Blue.png) no-repeat;
  background-size: cover;
}
#section13 .above_cloud {
  height: 6%;
  position: absolute;
  top: 2%;
  right: -100%;
  transition: all 5s ease-in-out;
}
#section13 .above_cloud img {
  height: 100%;
}
#section13 .header_bg {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 9%;
  left: 50%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
}
#section13 .header_bg img {
  height: 100%;
}
#section13 .bubble1 {
  height: 110%;
  position: absolute;
  top: 0%;
  left: 48%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
}
#section13 .bubble2 {
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 0;
}
#section13 .header {
  padding-top: 2%;
  width: 12%;
  height: 24%;
  position: absolute;
  top: 9%;
  left: 50%;
  transition: all 0.5s ease;
  transform: scale(0.5, 0.5) translateX(-50%);
  opacity: 0;
  text-align: center;
}
#section13 .header img {
  height: 100%;
}
#section13 .stars_bg {
  width: 100%;
  height: 100%;
  background: url(../img/page1/background.png) no-repeat center;
  background-size: 100% auto;
}
#section13 .stars_bg img {
  width: 100%;
}
#section13 .starts {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
#section13 .starts0 {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 46%;
  transform: translateX(-50%);
  opacity: 0;
}
#section13 .cat_star {
  width: 100%;
  height: 42%;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#section13 .cat_star img {
  height: 100%;
}
#section13 .below_cloud {
  width: 100%;
  height: 27%;
  position: absolute;
  bottom: 0;
}
#section13 .below_cloud img {
  width: 100%;
  height: 100%;
}
#section13 .name {
  width: 100%;
  height: 1.5%;
  position: absolute;
  top: 83%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#section13 .name img {
  height: 100%;
}
.rain_layer {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
  overflow: hidden;
}
.raindrops {
  position: absolute;
}
#ripples_layer {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 35%;
}
.ripple {
  opacity: 0;
  position: absolute;
}
.snow_layer {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
  overflow: hidden;
}
.more_arrow_right {
  position: absolute;
  right: 7%;
  bottom: 18%;
  height: 8%;
  opacity: 0;
  transition: all 2s;
}
.more_arrow_right img {
  height: 100%;
}
.more_arrow_left {
  position: absolute;
  left: 7%;
  bottom: 18%;
  height: 8%;
  opacity: 0;
  transition: all 2s;
}
.more_arrow_left img {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */
