.section1{
	background:url(../img/page1/Blue.png) no-repeat;
	background-size: 100%;
}
.above_cloud{
	height: 6%;
	position: absolute;
	top: 2%;
	right: -100%;
	transition: all 1s ease-in-out;
}
.above_cloud img{
	height: 100%;
}

.header_bg{
	width: 100%;
	height: 30%;
	background: url(../img/page1/Below-the-words-big.png) no-repeat center;
	background-size: auto 100%;
	position: absolute;
	top: 9%;
	left: 50%;
	text-align: center;
	transition: all 1s;
	transform: translateX(-50%);
	opacity: 0;
	text-align: center;
}
.header_bg img{
	width: 100%;
}
.bubble1{
	width: 42%;
	position: absolute;
	left: 52%;
	transition: all 1s;
	transform: translateX(-50%);
	opacity: 0;
}
.bubble2{
	width: 45%;
	position: absolute;
	top: 12%;
	left: 53%;
	transition: all 1s;
	transform: translateX(-50%);
	opacity: 0;
	
}
.header{
	padding-top: 2%;
	width: 12%;
	height: 27%;
	position: absolute;
	top: 9%;
	left: 50%;
	transition: all 0.5s ease;
	transform: scale(0.5, 0.5) translateX(-50%);
	opacity: 0;
}
.header img{
//	margin-top: 1%;
//	width: 100%;
	height: 25%;
}
.stars_bg{
	width: 100%;
	height: 100%;
	background: url(../img/page1/background.png) no-repeat center;
	background-size: 100% auto;
}
.stars_bg img{
	width: 100%;
}
.starts{
	width: 90%;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.starts0{
	width: 70%;
	text-align: center;
	position: absolute;
	top: 18%;
	left: 46%;
	transform: translateX(-50%);
	opacity: 0;
}
.cat_star{
	width: 100%;
	height: 42%;
	position: absolute;
	top: 42%;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
}
.cat_star img{
	height: 100%;
}
.below_cloud{
	width: 100%;
	height: 17%;
	position: absolute;
	bottom: 0;
}
.below_cloud img{
	width: 100%;
	height: 100%;
}
